<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="about.css">
    <title>About Us</title>
    </head>

        <div class="topnav">
            <div class="topnav">
                <a href="index.html">Home</a>
                <a class="active" href="about.html">About Us</a>
                <a href="menu.html">Menu</a>
                <a href="contact.html">Contact Us</a>
        </div>
        </div>
            <h1> Brancatelli's Familia Cucina</h1>
        </div>
        <div class="border_1"></div>
        <div class="about_text">
            <div class="side">
                    <h2> From Our Family to Yours..</h1>
                        <div class="photo1">
                            <!-- These photos are of my actual family member's on my mom's side. So they are not stock photos or from anywhere on the internet :) -->
                            <img src="images/family1.jpeg" alt="Brancatelli family photo 1">
                            <!-- Image is retrieved from my mom | Leesa Brancatelli Zavala © 2021  -->
                        </div>
                        <div class="photo2">
                            <img src="images/family2.jpeg" alt="Brancatelli family photo">
                            <!-- Image is retrieved from my mom | Leesa Brancatelli Zavala © 2021 -->
                        </div>
                    </div>
    
                    <p class="family_par"> Brancatelli Familia Cucina was started in 2005 by Peggy Bocci and her son, Head Chef Leonard Brancatelli. Along with Leonard's three children, James, Leesa and Denise, they aim to bring you only the finest of Southern Italian dishes. Made with love, always! </p>
                </div>
                <div class="about text">
                    <h1>Meet The Chef</h1>
                    <div class="chef_l">
                        <img src="images/leonard1.jpeg" alt="Smiling Man">
                        <!-- Image is retrieved from my mom | Leesa Brancatelli Zavala © 2021 -->
                    </div>
                    <div class="turkey">
                        <img src="images/turkey.jpeg" alt="Man Cutting Turkey">
                        <!-- Image is retrieved from my mom | Leesa Brancatelli Zavala © 2021 -->
                    </div>
                        <p class="chef" p style="overflow-y: scroll;">Chef Leonard Brancatelli was born in Cleveland, Ohio. The son of master baker Peggy Bocci, Leonard learned to cook at the ripe age of 4 years old. 
                            He trained at the prestigious Florence Culinary School under head chef Francesco Giovanni Botellini. 
                            Our speciality dish "Su filindeu", or "threads of God" is Chef Leonard's masterpiece he learned to make in Sardinia, Sicily. 
                            Su filindeu is made by pulling and folding semolina dough into 256 even strands, and then stretching the needle-thin wires diagonally across a circular frame in an intricate three-layer pattern. 
                            It’s so difficult and time-consuming to prepare that for the past 200 years, the sacred dish has only been served to the faithful who complete a 33km pilgrimage on foot or horseback from Nuoro to the village of Lula for the biannual Feast of San Francesco. 
                            Chef Leonard looks forward to treating you to a night in Italia!  </p>
                    </div>
                </div>
                <h1>Accolades</h1>
                <div class="left">
                    <img src="images/bistro.jpeg" alt="Dining Room">
                    <!-- Image retrieved from: https://www.the-international-wedding-planner.com/celebrity-wedding-capri/ -->
                </div>
                <div class="right">
                        <p class="about_us">
                            Brancatelli's Cucina Familia has been in operation since 2005. Mother-son duo Peggy Bocci and Leonard Brancatelli started the restaurant to bring a taste of Southern Italy to Los Angeles. 
                            We are proud to have two Michelin stars and have been featured on Jonathan Gold's essential Los Angeles Restaurant Lists for 15 years in a row. Our unique cuisine features a multitude of unique dishes that pay homage to Bocci and Brancatelli's home village of Calabria. 
                            Please take a look at some articles that have featured us: 
                            <ul>
                                <li>
                                    <a href="https://la.eater.com/maps/best-pasta-restaurants-italian-los-angeles">Eater LA: Best Italian Restaurants in Los Angeles</a>
                                </li>
                                <li>
                                    <a href="https://www.thedailymeal.com/eat/americas-best-italian-restaurants-gallery">The Daily Meal: Best Italian Restaurants in America</a>
                                </li>
                                <li>
                                    <a href="https://guide.michelin.com/us/en/california/restaurants/italian">The Michelin Guide: Michelin Starred Restaurants in California</a>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="footer">
            <p class="footer">Website designed by Victoria Zavala &copy; 2021</p>
        </div>
    </div>
<body>