<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <title>Brancatelli's Familia Cucina</title>
    </head>
        <body>
            <div class="topnav">
              <div class="topnav">
                  <a href="index.html">Home</a>
                  <a href="about.html">About</a>
                  <a href="menu.html">Menu</a>
                  <a class="active" href="contact.html">Contact Us</a>
          </div>
          </div>
                <h1> Brancatelli's Familia Cucina</h1>
            </div>
            <div class="border"></div>
            <div class="container">
                <h2>We Would Love to Hear from You!</h2>
                <p> Send us a message with any comments, questions, or concerns. We will get back to you as soon as we can!</p>
                <form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
                  <div class="name">
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Enter text..">
              
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Enter text..">

                </div>  
                    
                  <br><br>
                 <div class="sub">
                  <label for="subject">Subject</label>
                  </div>
                  <textarea id="subject" name="subject" placeholder="Tell us more.." style="height:200px"></textarea>
                    <br>
                  <input type="submit" value="Submit">
                </div>
                </form>
              </div>
                  <div class="location">
                      <h1 class="map">Our Location</h1>
                      <p class="our_location">
                          Brancatelli's Familia Cucina is located in beautiful downtown Burbank. Visit us soon!
                      </p>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6601.284184415932!2d-118.3136298542452!3d34.18106727190266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2955ab72a68f3%3A0x4219aee1ce407103!2sBurbank%20Town%20Center!5e0!3m2!1sen!2sus!4v1621582947489!5m2!1sen!2sus" width="1500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
                
            </div>
            <div class="footer">
                <p>Website designed by Victoria Zavala &copy; 2021</p>
            </div>
    </body>
