<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="scripts/carousel.js"></script>

    <title>Brancatelli's Familia Cucina</title>
    </head>

    <body>
            <div class="topnav">
                    <a class="active" href="index.html">Home</a>
                    <a href="about.html">About Us</a>
                    <a href="menu.html">Menu</a>
                    <a href="contact.html">Contact Us</a>
            </div>
            </div>
            <h1>Brancatelli's Familia Cucina</h1>
            <div class="icon">
                <img src="images/chef.jpeg" alt="icon of chef"/>
                <!-- Image retrieved from: https://www.vectorstock.com/royalty-free-vector/italian-chef-vector-6101628 -->
            </div>
            <div class="media_message">Follow us on Social Media!</div>
                <ul class="media">
                    <li>
                        <a href="https://www.facebook.com">
                            <img src="images/facebook.svg">
                            <!-- Image retrived from: https://1000logos.net/facebook-logo/ -->
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com">
                            <img src="images/instagram.png" />
                            <!-- Image retrived from: https://www.edigitalagency.com.au/instagram/new-instagram-logo-png/ -->
                        </a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com">
                            <img src="images/tiktok.svg" />
                            <!-- Image retrieved from: https://www.drapersonline.com/news/discover-the-secrets-to-success-on-tiktok -->
                        </a>
                    </li>
                </ul>
            </div>
            <div class="index_border"></div>
        </div>
        <h2>At Brancatelli's, You're Family</h2>
        <div class="carousel_wrapper">
            <div id="carousel">
                <a id="backwards" class="prev">
                    <img class="button-pic" src="images/backward.svg" />
                    <!-- Image retrieved from: https://www.onlinewebfonts.com/icon/280504 -->
                </a>
                <div class="autoscroll">
                    <ul id="autoscroll-box">
                        <li class="autoscroll-each one"></li>
                        <li class="autoscroll-each two" id=></li>
                        <li class="autoscroll-each three"></li>
                    </ul>
                </div>
                <a id="forwards" class="for">
                    <img class="button-pic" src="images/forward.svg" />
                    <!-- Image retrieved from: https://www.pngegg.com/en/png-cmzag -->
                </a>
            </div>
            <div class="dots">
                <span class="scroll_dots on"></span>
                <span class="scroll_dots"></span>
                <span class="scroll_dots"></span>
            </div>
        </div>
    </div>
                    <div class="right">
                        <div class="experience">
                            <h1>Experience Calabria...</h1>
                            <p>At Brancatelli's Familia Cucina, we specialize in creating authentic Southern Italian dishes. Since 2005, Chef Leonard Brancatelli has won numerous culinary awards for his unique Calabrese take on Southern Italian cuisine. Vieni e mangia!</p>
                            </div>
        <div class="footer">
            <p>Website designed by Victoria Zavala &copy; 2021</p>
        </div>
        </body>
    </body>
    </html>
