<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <title>Brancatelli's Familia Cucina</title>
    </head>

    <body>
          <div class="topnav">
            <div class="topnav">
                <a href="index.html">Home</a>
                <a href="about.html">About</a>
                <a class="active" href="menu.html">Menu</a>
                <a href="contact.html">Contact Us</a>
        </div>
        </div>
                <h1> Brancatelli's Familia Cucina</h1>
            </div>
            <div class="border"></div>
            <div class="about text">
                <h2>Today's Menu</h1>
                <p class="about_menu">We update our menu every day with Chef Leonard's unique creations. You can expect a fix prix menu with appetizers, first course, main course, dessert, and a specialty wine pairing.</p>
            </div>
            <div class="download">
              <br>
            <a href="menu.pdf" download="menu.pdf">Download Our Menu</a>
       </div>
       <br><br>
       
            <div class="border_2"></div>
            <br><br>
            
                <div class="left">
                  <div class="col">
                    <img src="images/antipasti.png" alt="Appetizer">
                    <!-- Image retrieved from: https://motogp20192020resultsnews.blogspot.com/2019/12/creative-professional-food-photography.html -->
                    </div>
                    <br>
                    <p class="text-uppercase"><b>Il Formaggi</b></p>
                    <p class="text-uppercase"> Festuca Cheese | Ubriaco | Pecorino Romano | Pistachio | Calabrian Chili | Honey </p>
                    <p class="text-uppercase">Truffle Burrata | Rosemary Foccacia </p>
                  </div>
                </div>
                <br>
                <div class="left">
                  <div class="col">
                    <img src="images/primo.png" alt="First Course">
                    <!-- Image retrieved from: https://supremeadvocacy.ca/2020/06/17/professional-responsibility-meets-pasta/ -->
                    </div>
                    <br>
                    <p class="text-uppercase"><b>Su Filindeu</b></p>
                    <p class="text-uppercase">Semolina pasta | Clams | Datterino Tomatoes | Garlic | Parsley | Parmigiano-Reggiano</p>
                  </div>
                </div>
                <br>
                <div class="left">
                    <div class="col">
                      <img src="images/secondi.png" alt="Main Course">
                      <!-- Image retrieved from: https://leitesculinaria.com/286910/recipes-whole-roasted-branzino-lemon-shaved-fennel-salad.html -->
                      </div>
                      <br>
                        <p class="text-uppercase"><b>Branzino in crosta di Zucchine</b></p>
                        <p class="text-uppercase">Wild caught Branziino | Zucchini | Lemon | Olive Oil | Fresh Basil</p>
                    </div>
                </div>
                <br>
                <div class="left">
                  <div class="col">
                    <img src="images/dolce.png" alt="Dessert">
                    </div>
                    <br>
                    <p class="text-uppercase"><b>Millefoglie</b></p>
                    <p class="text-uppercase">Pastry | Chantilly Cream | Fresh Blackberries</p>
                    <!-- Image retrieved from: https://classbento.com.au/christmas-cannoli-and-pasta-making-class -->
                  </div>
                </div>
                <br>
                <div class="left">
                  <div class="col">
                    <img src="images/vino.png" alt="Wine">
                    <!-- Image retrieved from: https://wallpaperaccess.com/wine -->
                    </div>
                    <br>
                    <p class="text-uppercase"><b>Red</b></p>
                    <p class="text-uppercase">Mary Rivers, Pinot Noir, Tuscany</p>
                  </div>
                </div>
              </div>
              <br>
              <div class="border_3"></div>
              
       
      </div>
        <div class="footer">
            <p>Website designed by Victoria Zavala &copy; 2021</p>
        </div>
    </body>
    </html>